.about-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: 25px;

    box-shadow: rgba(0, 0, 0, .25) 0 10px 40px;
    overflow: hidden;
    @media (min-width: $breakpoint1025) {
        padding: 0;
    }
    &__title {
        font-size: 30px;
        text-align: center;
        font-family: GalanoGrotesque-SemiBold, sans-serif;
        margin-bottom: 20px;

        @media (min-width: $breakpoint480) {
            font-size: 30px;
        }
        @media (min-width: $breakpoint1025) {
            font-size: 70px;
            margin-bottom: 30px;
            text-align: left;

        }
        @media (min-width: $containerWidth + px) {
            margin-bottom: 60px;
        }
    }

    &-image_container {
        position: relative;
        margin-bottom: 20px;
        @media (min-width: $breakpoint768) {
            margin-bottom: 0;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            //opacity: 0.5;
            background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.1) 25%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,1) 100%);
        }
    }
    &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (min-width: 767px) {
            height: 300px;
        }
    }


    &_description {
        font-size: 18px;
        font-family: GalanoGrotesque-SemiBold, sans-serif;
        @media (min-width: $breakpoint480) {
            font-size: 25px;
        }
    }

    &_center {
        padding: 20px;
        @media (min-width: $containerWidth + px) {
            //padding-right: 40px;
            padding: 0;
        }

        .about_title_center {
            margin-bottom: 30px;
            font-size: 17px;
            font-family: GalanoGrotesque-SemiBold, sans-serif;
            @media (min-width: $breakpoint480) {
                font-size: 20px;
            }
            @media (min-width: $breakpoint768) {
                font-size: 20px;
                margin-bottom: 40px;
            }

        }
        .about_description {
            font-size: 14px;
            @media (min-width: $breakpoint480) {
                font-size: 18px;
            }
            @media (min-width: $breakpoint768) {
                font-size: 22px;
            }
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px 30px;
        p {
            text-align: center;
        }
        @media (min-width: $breakpoint1025) {
            padding: 30px 50px 30px 30px;
        }
    }
    &_right_title {
        margin-bottom: 10px;
        font-size: 15px;
        font-family: GalanoGrotesque-Medium, sans-serif;
        @media (min-width: $breakpoint1025) {
            font-size: 25px;
            margin-bottom: 30px;
        }
    }
    &_right_link {
        font-size: 20px;
        font-family: GalanoGrotesque-Medium, sans-serif;
        text-decoration: underline;
        text-align: center;
        @media (min-width: $breakpoint1025) {
            font-size: 30px;
        }
    }
    &_input-block {
        @media (min-width: $breakpoint1025) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
    }



    &_action {
        margin-bottom: 30px;
        position: relative;
        //max-width: 860px;
        //padding: 50px 20px;
        //display: flex;
        //justify-content: space-between;
        //gap: 15px;
        //border: 1px solid #1f1f1f;
        //border-radius: 15px;
        //@media (min-width: $breakpoint480) {
        //    padding: 50px;
        //}

    }
    &_button-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        //@media (min-width: $breakpoint768) {
        //
        //}

        @media (min-width: $breakpoint768) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

    }

    .fake-placeholder {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
        padding: 10px 15px;
        color: #a1a1a1;
       pointer-events: none;
        @media (min-width: $breakpoint768) {
            padding: 15px 20px;
            font-size: 16px
        }
        &.transparent-color {
            color: transparent;
        }
    }
    .checkbox_about_container {
        width: 100%;
        @media (min-width: $breakpoint768) {
            position: absolute;
            bottom: -68px;
            left: 6px;
        }
        @media (min-width: $breakpoint1025) {
            bottom: -38px;
        }
    }
}

.about-name-label {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    @media (min-width: $breakpoint768) {
        width: calc((100%/2) - 10px );

    }
    @media (min-width: $breakpoint1025) {
        width: calc((100%/3) - 20px );
        margin-bottom: 0;
    }
    .about-input-text {
        width: 100%;
        height: 45px;
        color: #535252;
        background-color: #fafafa;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 25px;
        border: 1px solid #1f1f1f;

        @media (min-width: $breakpoint768) {
            //padding: 12px 20px;
            font-size: 16px;
        }
    }


    }

   .about-upload-label {
       @media (min-width: $breakpoint768) {
           margin-bottom: 0;
       }

    @media (min-width: $breakpoint1025) {
        width: 65%;

    }

    .about-input-upload {
        padding: 13px 15px;
        @media (min-width: $breakpoint768) {
            padding: 15px 20px;
        }
        &.transparent-color {
            color: transparent;
        }
        &::-webkit-file-upload-button {
            display: none;
            font-size: initial;
        }
        &::after {
            position: absolute;
            content: '';
            background-image: url(../../images/download-img.png);
            background-repeat: no-repeat;
            width: 13px;
            height: 13px;
            right: 30px;
            top: 16px;
        }
    }

}

.about-btn{
    padding: 10px 30px;
    @media (min-width: $breakpoint480) {
        padding: 14px 50px;

    }
}


.text_error {
    display: none;
    padding-left: 20px;
    font-size: 14px;
    color: #f63c3c;
}
