.career-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-right: 0;
    margin-left: 0;
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 15px;
    border: 1px #f5f5f5 solid;
    box-shadow: rgba(0, 0, 0, .25) 0 10px 40px;
    @media (min-width: $breakpoint480) {
        padding: 40px;
    }
    @media (min-width: $breakpoint1025) {
        padding: 60px 80px;
    }
    &__action {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 804px) {
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        &-select-container {
            position: relative;
            @media (max-width: 480px) {
                width: 100%;
            }
            svg {
                position: absolute;
                right: 17px;
                top: 16px;
                //fill: #cdcbcb;
                stroke: #cdcbcb;
                transform: rotate(180deg);
                pointer-events: none;
            }
        }
        &-select {
            height: 54px;
            background-color: #fafafa;
            font-size: 16px;
            border-radius: 25px;
            padding: 15px 0 15px 20px;
            width: 350px;
            border: 1px solid #cdcbcb;
            //color: #a1a1a1;
            color: #5E5E5E;
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            @media (max-width: $breakpoint480) {
                width: 100%;
            }
        }
        option[value=""][disabled] {
            display: none;
        }
        .name-label {
            position: relative;
            @media (max-width: $breakpoint480) {
                width: 100%;
            }

        }
        .input-text {
            background-color: #fafafa;
            font-size: 16px;
            border-radius: 25px;
            padding: 15px 0 15px 20px;
            width: 350px;
            //color: #a1a1a1;
            color: #5E5E5E;
            border: 1px solid #cdcbcb;
            @media (max-width: $breakpoint480) {
                width: 100%;
            }

            &-upload {
                position: relative;
                height: 54px;
                &.transparent-color {
                    color: transparent;
                }
                &::-webkit-file-upload-button {
                    display: none;
                    font-size: initial;
                }
                &::after {
                    position: absolute;
                    content: '';
                    background: url(../../images/download-img.png);
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 15px;
                    right: 18px;
                    top: 20px;
                }
            }
        }
        .test {
            position: absolute;
            left: 0;
            font-size: 16px;
            padding: 19px 0 15px 20px;
            color: #a1a1a1;
            pointer-events: none;
            &.transparent-color {
                color: transparent;
            }
        }
    }
    &__more {
        margin-top: 15px;
        margin-bottom: 40px;
        //font-family: GalanoGrotesque-Medium, sans-serif;
        font-size: 30px;
        color: #000;
        text-align: center;
        //float: right;

    }
    &-btn {
        width: 290px;
        height: 50px;
        @media (max-width: 780px) {
            margin-top: 30px;
            width: 200px;
        }
        @media (max-width: $breakpoint480) {
            width: 100%;
        }
    }

}

.career-form__radio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    //margin-top: 50px;
    @media (max-width: $breakpoint480) {
        flex-direction: row;
    }
    .checkbox__item {
        margin-top: 20px;
        display: flex;
        align-items: center;
        margin-right: 30px;
        @media (max-width: $breakpoint480) {
            gap: 5px;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .checkbox__input {
            display: none;
            &:checked+.fake::before {
                opacity: 1;
            }
        }
        .fake {
            height: 16px;
            width: 16px;
            box-sizing: border-box;
            border: 1px solid #000;
            display: block;
            margin-right: 15px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                display: block;
                height: 9px;
                width: 9px;
                background: #000;
                top: 50%;
                box-sizing: border-box;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: 0.3s all ease;
            }
        }
    }
    .checkbox_text {
        @media (max-width: $breakpoint768) {
            width: 75%;
        }
    }

}

.add_form_btn_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @media (min-width: $breakpoint1025) {
        margin-bottom: 60px;
    }

}
.full-form {
    display: none;

    &.active {
        display: block;
    }
    &_input {
        background-color: #fafafa;
        font-size: 16px;
        border-radius: 25px;
        padding: 15px 0 15px 20px;
        width: 100%;
        max-width: 380px;
        //color: #a1a1a1;
        color: #5E5E5E;
        border: 1px solid #cdcbcb;
        @media (max-width: $breakpoint480) {
            width: 100%;
        }


    }
    &_select-container {
        position: relative;

        svg {
            position: absolute;
            right: 17px;
            top: 16px;
            //fill: #cdcbcb;
            stroke: #cdcbcb;
            transform: rotate(180deg);
            pointer-events: none;
        }
    }
    &_select {
        width: 100%;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    }
    .upload_photo {
        position: relative;
        width: 100%;
        height: 100%;
        cursor:pointer;
        &.transparent-color {
            color: transparent;
        }
        &::-webkit-file-upload-button {
            display: none;
            font-size: initial;
        }
        //&::after {
        //    position: absolute;
        //    content: '';
        //    background-image: url(../../images/upload_photo.png);
        //    background-repeat: no-repeat;
        //    width: 100%;
        //    height: 100%;
        //    //height: 13px;
        //    //right: 30px;
        //    top: 0;
        //    left: 0;
        //}
    }
    .user_photo {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .full-form-btn {
        width: calc(50% - 10px);
        color: #5E5E5E;
        border: 1px solid #cdcbcb;
        &.active {
            background-color: #e8e8e8;
        }
    }
    .add_phone {
        text-decoration: underline;
        color: #5E5E5E;
        font-size: 15px;
        cursor:pointer;
    }
    .addition-phone {
        display: none;
        &.active {
            display: flex;
        }
    }
    .addition_education {
        display: none;
        &.active {
            display: block;
        }
    }
    .full-form-policy {
        text-decoration: underline;
        margin-top: 8px;
    }
}

.full-form-photo-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #a1a1a1;
    margin-bottom: 50px;
    cursor: pointer;
}

.full-form-photo-label {
    color: #5E5E5E;
    font-size: 17px;
    @media (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.special-form {
    &__title {
        font-size: 24px;
        font-family: GalanoGrotesque-SemiBold, sans-serif;
        margin-bottom: 20px;

        @media (min-width: $breakpoint480) {
            font-size: 30px;
        }
        @media (min-width: $breakpoint1025) {
            font-size: 50px;
            margin-bottom: 30px;

        }
        @media (min-width: $containerWidth + px) {
            padding-right: 30px;
        }
    }

    &_title_right {
        margin-bottom: 30px;
        font-size: 17px;
        font-family: GalanoGrotesque-Medium, sans-serif;
        @media (min-width: $breakpoint480) {
            font-size: 20px;
        }
        @media (min-width: $breakpoint768) {
            font-size: 20px;
            margin-bottom: 30px;
        }

    }

    &_description {
        font-size: 14px;
        font-family: GalanoGrotesque-Medium, sans-serif;
        margin-bottom: 20px;
        @media (min-width: $breakpoint480) {
            font-size: 15px;
        }
    }
    &_action {
        @media (min-width: $breakpoint768) {
            display: flex;
            justify-content: space-between;
        }

    }
    .name-label {
        position: relative;
        @media (max-width: $breakpoint480) {
            width: 100%;
        }

    }
    .input-text {
        background-color: #fafafa;
        font-size: 16px;
        border-radius: 25px;
        padding: 15px 0 15px 20px;
        width: 100%;
        max-width: 350px;
        //color: #a1a1a1;
        color: #5E5E5E;
        border: 1px solid #cdcbcb;
        @media (max-width: $breakpoint480) {
            width: 100%;
        }

        &-upload {
            position: relative;
            height: 54px;
            &.transparent-color {
                color: transparent;
            }
            &::-webkit-file-upload-button {
                display: none;
                font-size: initial;
            }
            &::after {
                position: absolute;
                content: '';
                background: url(../../images/download-img.png);
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                right: 18px;
                top: 20px;
            }
        }
    }
    .test {
        position: absolute;
        left: 0;
        font-size: 16px;
        padding: 19px 0 15px 20px;
        color: #a1a1a1;
        pointer-events: none;
        &.transparent-color {
            color: transparent;
        }
    }
}
